  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
	<div class="container">
      <h1>TokyoGram</h1>
       <p>For the photos you can't upload to social media sites!</p>
    <p>
      <a class="btn btn-lg btn-primary" href="#">18 years and older</a>
    </p>
	</div> <!-- /container -->
  </div>

